<h2>The Booking Section!</h2>

<button (click)='findBookings()' class="btn btn-primary">Retrieve Bookings</button>
<div *ngIf='books != null'>
<p>Bookings:</p>
<ul class="list-group">
    <li *ngFor='let boo of books' 
    class="list-group-item">
        {{boo.groupName}}, {{boo.timeFrame}}, {{boo.bookingStatus}}, {{boo.clientName}}, {{boo.location}}
    </li>
</ul>
</div>
<div *ngIf='books===null'>
No bookings found
</div> 
<br>
<br>
<h3>Create new Booking</h3>
<div>
    <div>
        <label>Group:
            <br>
          <input [(ngModel)]="Book.groupname" placeholder="name"/>
        </label>
    </div>
    <br>
    <div>
        <label>Hours reserved:
            <br>
          <input [(ngModel)]="Book.timeframe" placeholder="name"/>
        </label>
    </div>
    <br>
    <div>
        <label>Status:
            <br>
          <input [(ngModel)]="Book.bookingstatus" placeholder="name"/>
        </label>
    </div>
    <br>
    <div>
        <label>Venue name:
            <br>
          <input [(ngModel)]="Book.clientname" placeholder="name"/>
        </label>
    </div>
    <br>
    <div>
        <label>Location:
            <br>
          <input [(ngModel)]="Book.location" placeholder="name"/>
        </label>
    </div>
</div>
<br>
<button (click) = "addBookings()">Create Booking</button>
