<div *ngIf="currPerformer != null">
    <ol>
        <li>
           <button (click)="editTags()">Configure Tags</button>
        </li>
        <li>
            <span>View Current Bookings</span>
        </li>
        <li>
            <span>Performance Booking History</span>
        </li>
        <li>
            <span>Your info</span>
        </li>
        <li>
            <span>Update Info</span>
        </li>
        <li>
            <span>Cancel Booking</span>
        </li>
        <li>
            <span>Sign Out</span>
            
        </li>
    </ol>

    <div *ngIf="editYourTags == true">
        <h4>Your Tags</h4>
        <ul class="list-group">
            <li *ngFor='let t of performerTagsList' class="list-group-item">
                {{t.tagId}} {{t.tag}} {{t.groupName}}
            </li>
        </ul>
        <app-tags [performerName]="currPerformer.groupName"></app-tags>
        <button (click)="back()">Back</button>
   </div>
</div>








