<h2>Performers</h2>


<button (click)='getPerformers()' class="btn btn-primary">Get Performers</button>
<div *ngIf='performersList != null'>
<h1>Performers</h1>
<ul class="list-group">
    <li *ngFor='let per of performersList'
    class="list-group-item">
        {{per.groupName}}, {{per.performanceType}}, {{per.hourlyRate}}, {{per.rating}}
    </li>
</ul>
</div>

<div>
    Get Perfomer by Name <input type="text" [(ngModel)]="username"><br>
    <button (click)="getPerformerByName()">hey</button>
    <div *ngIf="tempPerformer != null">
        {{tempPerformer.groupName}}<br>
        {{tempPerformer.performanceType}}<br>
    </div>
</div>

<button (click)="selectOption('signin')" class="btn btn-primary">Sign In</button>
<button (click)="selectOption('signup')"class="btn btn-primary">Sign Up</button>

<div *ngIf="choice == 'signin'">
    Username<input type="text" [(ngModel)]="username"><br>
    Password<input type="text" [(ngModel)]="password"><br>
    <button (click)="signIn()" class="btn btn-primary">Sign In</button>
    <div *ngIf="currPerformer != null">
        Signed in successfully
        
    </div>
</div>
<div *ngIf="choice == 'signup'">
   Group Name<input type="text"[(ngModel)]="tempPerformer.groupName"><br>
    Password<input type="text" [(ngModel)]="tempPerformer.groupPass"><br>
    Perfomance Type<input type="text" [(ngModel)]="tempPerformer.performanceType"><br>
    Hourly Rate<input type="number" [(ngModel)]="tempPerformer.hourlyRate"><br>
    Rating<input type="text" [(ngModel)]="tempPerformer.rating"><br>
    <button (click)="signUp()" class="btn btn-primary">Sign Up</button>
</div>

<div *ngIf="currPerformer != null">
    <h3>Update your profile</h3>
    Password<input type="text" [(ngModel)]="currPerformer.groupPass"><br>
    Perfomance Type<input type="text" [(ngModel)]="currPerformer.performanceType"><br>
    Hourly Rate<input type="number" [(ngModel)]="currPerformer.hourlyRate"><br>
    Rating<input type="text" [(ngModel)]="currPerformer.rating"><br>
    <button (click)="updatePerformer()" class="btn btn-primary">Update</button>
</div>


