<h3>THIRD PARTY CALCULATOR</h3>

<!--<div>
    <label>Operation:
        <input [(ngModel)]="calc.operation">
    </label>
</div>-->
<!-- Format: use number(operator)number. Acceptable operators include +, -, /, *
<br /> -->
<br />
<!-- <div>
    <label>Expression:
        <input [(ngModel)]="calc.expression">
    </label>
</div> -->
<div>The performer is {{pName}}/{{foundPerformer.groupName}}{{foundPerformer.performanceType}}{{foundPerformer.totalCost}}</div>
<div>
<label>Please provide the numerical amount of hours the performers played in the event:
    <input type = number [(ngModel)]="hours" placeholder = ""/>
</label>
<!-- </div>
<div *ngIf="calc.operation">
    <div *ngIf="calc.expression">
        <button (click) = "result()">Result</button>
    </div>
</div> -->
<div *ngIf="calc.operation">
    <div *ngIf="hours">
        <button (click) = "totalWages()">Result</button>
    </div>
</div>
    <p>{{hours}}, {{hourly}}, {{temp}} The Expression is: {{calc.expression}}</p>

<div *ngIf="temp != 0">
    <p>The total payment is: {{temp}}</p>
    <button (click) = "submitWages()">Submit these wages to the performer's total cost</button>
</div>
