<div *ngIf='bookingPage == false && sendBookingPage == false'>
  <h2>VENUE</h2>
  <div>
    Logged in as the Venue "{{currentVenue.clientName}}", located at {{currentVenue.location}}.
  </div>
  <div>
    <button (click)='viewHistory()' class="performerButton">View and Edit bookings with {{currentVenue.clientName}}</button>
  </div>
  <div>
    <button (click)='findPerformers()' class="performerButton">Find Performers</button>
  </div>
  <div *ngIf='listPerformers != null'>
    <div>
      <br />Filter by genre (performance type):<br />
      <input [(ngModel)]="genreSelector" placeholder="name" />
    </div>
    <div>
      <br />Filter by rating (E, T, M):<br />
      <input [(ngModel)]="ratingSelector" placeholder="name" />
    </div>
      <div *ngIf='testPerformers == null '>
        <p>NOT FILTERED</p>
        <ul class="list-group">
          <li *ngFor='let p of listPerformers' class="list-group-item">
            <div>
              {{p.groupName}}, Performance Type:{{p.performanceType}}, Rating:{{p.rating}}, Hourly Rate:{{p.hourlyRate}}
            </div>
            <button (click)="choosePerformer(p)" class="btn btn-primary">Choose Performer</button>
          </li>
        </ul>
      </div>
        <div *ngIf='testPerformers != null'>
          <p>FILTERED</p>
          <ul class="list-group">
            <li *ngFor='let p of testPerformers' class="list-group-item">
                {{p.groupName}}, Performance Type:{{p.performanceType}}, Rating:{{p.rating}}, Hourly Rate:{{p.hourlyRate}} <br>
                <button (click)="choosePerformer(p)" class="btn btn-primary">Choose Performer</button> 
            </li>
          </ul>
        </div>
    </div>
    <div *ngIf='CurrentPerformer != null'>
      <div>
        Performer {{CurrentPerformer.groupName}} is being scheduled for a show at {{currentVenue.clientName}}.
      </div>
      <div>Tags:
        <ul class="list-group">
          <li *ngFor='let t of performerTags' class="list-group-item">
              {{t.tag}}
          </li>
      </ul>
      </div>
      <div>
        Please provide instructions detailing the date, time, and duration of the performer's event.
      </div>
      <div>
        <label>
          Input here:
          <input type="text" [(ngModel)]="currentBook.timeFrame" placeholder="name" />
        </label>
      </div>
      <div *ngIf='currentBook.timeFrame != ""'>
        <button (click)='sendBook()' class="performerButton">Book the upcoming event</button>
      </div>
    </div>
  </div>


<div *ngIf='bookingPage == true'>
  <app-booking [clientSelector]="currentVenue.clientName"></app-booking>
  <br>
  <br>
  <br>
  <button (click)='returnBooking()' class="btn btn-primary">Return to bookings page</button>
</div>

<div *ngIf = 'sendBookingPage == true'>
    <app-booking [currentBook] = "currentBook"></app-booking>
    <br>
    <br>
    <br>
    <button (click)='returnBooking()' class="btn btn-primary">Return to bookings page</button>
</div> 
