<h2>VENUE</h2>
<div>
  Logged in as the Venue "{{currentVenue.clientName}}", located at {{currentVenue.location}}
</div>
<br>
<div>
  <button (click)='findPerformers()' class="btn btn-primary">Schedule a Booking</button>
</div>

<div *ngIf='listPerformers != null'>
  <div *ngIf='genreSelector =="" '>
  <ul class="list-group">
    <li *ngFor='let p of listPerformers' class="list-group-item">
      <div>
        {{p.groupName}}, Performance Type:{{p.performanceType}}, Rating:{{p.rating}}, Hourly Rate:{{p.hourlyRate}}
      </div>
      <button (click)="choosePerformer(p)" class="btn btn-primary">Edit</button>
    </li>
  </ul>
  </div>
  <br />Filter by genre<br />
  <input [(ngModel)]="genreSelector" placeholder="name" />
  <button (click)='findPerformers()' class="btn btn-primary">Filter</button>
  <div *ngIf="genreSelector">
    <ul class="list-group">
      <li *ngFor='let p of listPerformers' class="list-group-item">
        <div *ngIf="p.performanceType == genreSelector">
          {{p.groupName}}, Performance Type:{{p.performanceType}}, Rating:{{p.rating}}, Hourly Rate:{{p.hourlyRate}} <button (click)="choosePerformer(p)" class="btn btn-primary">Edit</button>
        </div>
        
      </li>
    </ul>
  </div>
</div>

<div *ngIf='CurrentPerformer != null'>
  <div>
    Performer {{CurrentPerformer.groupName}} is being scheduled for a show at {{currentVenue.clientName}}.
  </div>
  <div>Tags:
    <ul class="list-group">
      <li *ngFor='let t of performerTags' class="list-group-item">
          {{t.tag}}
      </li>
  </ul>
  </div>
  <div>
    Please provide instructions detailing the date, time, and duration of the performer's event.
  </div>
  <div>
    <label>
      Input here:
      <input type="text" [(ngModel)]="currentBook.timeFrame" placeholder="name" />
    </label>
  </div>
  <div *ngIf='currentBook.timeFrame != ""'>
    <button (click)='sendBook()' class="btn btn-primary">Book the upcoming event</button>
  </div>
</div>
<br>
<div>
  <button (click)='viewHistory()' class="btn btn-primary">View and Edit {{currentVenue.clientName}} bookings</button>
</div>

<div *ngIf='bookingPage == true'>
  <app-booking [clientSelector]="currentVenue.clientName"></app-booking>
</div>

<div *ngIf = 'sendBookingPage == true'>
    <app-booking [currentBook] = "currentBook"></app-booking>
</div> 
